#root {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.app {
    margin: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 50%;
}

.form-area {
    margin-bottom: 20px;
    background-color: aquamarine;
}

.flex-content {
    display: flex;
}

.flex-item {
    display: block;
    width: 25%;
}

.flex-content span {
    width: 50%;
}

.flex-item input {
    max-width: 50%;
}