#root {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.app {
    margin-top: 20pc;
}

.form-area {
    text-align: center;
    margin: auto;
    justify-content: space-between;
    width: 50%;
    background-color: aquamarine;
}

.numberInput {
    display: flex;
}

.flex-item {
    display: block;
    width: 25%;
}

.flex-item input {
    max-width: 50%;
}